{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>자유게시판</title>
</head>

<body>
<!--네비게이션바 navbar.html 을 삽입-->
{% include "navbar.html "%} 
<!-- 기본 템플릿 안에 삽입될 내용 Start-->
    {% block content %}
    {% endblock %}
 <!-- 기본 템플릿 안에 삽입될 내용 End-->
 <!--Bootstrap JS-->
 <script src="{% static 'bootstrap.min.js' %}"></script>

<!-- 질문 삭제할 수 있는 자바스크립트 start </body> 바로 위 위치!--> 
{% block script %}
{% endblock %}
<!--자바스크립트 end--> 
</body>
 
 </html>